body {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

header {
  display: flex;
  align-items: center;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  background-color: white;
  border-bottom: 1px solid black;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
  border: solid 1px black;
  margin-bottom: 10px;
}

.logo span {
  padding-left: 20px;
  color: MediumAquamarine;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
  color: black;
}

a {
  color: black;
}

.content {
  display: flex;
}

.column.large {
  display: flex;
  width: 630px;
  border: 1px solid black;
}

.column.medium {
  display: flex;
  width: 300px;
  border: 1px solid black;
}

.column.small {
  display: flex;
  width: 240px;
  border: 1px solid black;
}

/* .content {
  display: flex;
  width: 1232px;
  padding-top: 23px;
  margin: 0 auto 78px auto;
}

.column.large {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 630px;
}

.feature {
  display: flex;
  flex-direction: column;
}

.feature-image {
  display: flex;
  background-image: url(/Users/mtrovela/Desktop/CodeAcademy/myTimes/resources/images/img-story-main.png)
}

h1 {
  display: flex;
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
  padding: 40px;
}

.story {
  display: flex;
  justify-content: space-between;
}
.nested-col-1 {
  display: flex;
  border: 1px solid black;
  width: 300;
}

.nested-col-2 {
  display: flex;
  border: 1px solid black;
  width: 300;
}

.text-content {
  display: block;
}

h3 {
  font-size: 30px;
  height: 300px;
  width: 300px;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nested-image {
  display: flex;
  height: 300px;
  width: 300px;
  background-image: url(/Users/mtrovela/Desktop/CodeAcademy/myTimes/resources/images/img-story-2.png)
}

#hipster {
  height: 300px;
  width: 300px;
  background-image: url(/Users/mtrovela/Desktop/CodeAcademy/myTimes/resources/images/img-story-3.png)
}

.column.medium {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 300px;
}

.column.small {
    display: flex;
    border: 1px solid black;
    width: 240px;
} */
